
.root {
    -fx-background: rgb(231, 253, 235);
    -fx-border-color: rgb(32, 48, 32);
    -fx-border-width: 2pt;
}

.button {
	-fx-font-weight: bold;
	-fx-text-fill: rgb(165, 245, 180);
	-fx-background-color: rgb(32, 48, 32);
	-fx-border-color: rgb(32, 48, 32);
}

.button:hover {
	-fx-text-fill: white;
	-fx-background-color: rgb(28, 43, 27);
	-fx-cursor: hand;
}

.label {
	-fx-font-weight: bold;
	-fx-text-fill: rgb(32, 48, 32);
}

.text-field {
	-fx-text-fill: rgb(32, 48, 32);
	-fx-prompt-text-fill: rgb(49, 161, 54);
	-fx-background-color: rgb(192, 248, 203);
	-fx-border-color: rgb(32, 48, 32);
}

.check-box .box {
    -fx-background-color: rgb(127, 241, 149);
    -fx-border-color: rgb(32, 48, 32);
    -fx-pref-height: 15pt;
    -fx-pref-width: 15pt;
}
.check-box:selected .mark {
    -fx-background-color: white;
}
.check-box:selected .box {
    -fx-background-color: rgb(32, 48, 32);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: rgb(16, 110, 25);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.list-cell {
    -fx-font-weight: bold;
	-fx-text-fill: rgb(32, 48, 32);
}
.list-cell:odd {
    -fx-cell-hover-color: rgb(127, 241, 149);
    -fx-background-color: rgb(217, 251, 223);
}
.list-cell:even { 
    -fx-cell-hover-color: rgb(217, 251, 223);
    -fx-background-color: rgb(127, 241, 149);
}
.list-cell:filled:hover {
    -fx-cell-hover-color: rgb(217, 251, 223);
    -fx-text-fill: black;
}

/* button back in register-window and chat-window */
#btnBack {
    -fx-padding: 2pt;
    -fx-pref-width: 50pt;
    -fx-text-fill: rgb(32, 48, 32);
	-fx-background-color: rgb(85, 237, 114);
}
#btnBack:hover {
	-fx-background-color: rgb(57, 189, 63);
}


/* REGISTER WINDOW */

#lbRegisterTitle {
    -fx-font: 16pt "Tahoma";
    -fx-padding: 6pt;
}

#createUserButton {
    -fx-pref-width: 85pt;
}


/* LOGIN WINDOW */

#lbLoginTitle {
	-fx-font: bold 14pt "Tahoma";
    -fx-padding: 6pt;
}

#registerButton {
    -fx-pref-width: 68pt;
}

#loginButton {
    -fx-pref-width: 55pt;
}

#lbAuthors {
	-fx-font: bold 7pt "Verdana";
	-fx-text-fill: rgb(12, 34, 71);
    -fx-padding: 2pt;
    -fx-text-alignment: center;
    -fx-padding: 15pt;
}


/* CHAT WINDOW */

#lbsChat {
	-fx-font: bold 10pt "Verdana";
    -fx-padding: 2pt;
}


/* FUNCTIONS CHAT WINDOW */

#lbUser {
	-fx-font: bold 10pt "Helvetica";
	-fx-text-fill: blue;
}

#lbMessage {
	-fx-font: bold 10pt "Helvetica";
	-fx-text-fill: black;
	-fx-wrap-text: true;
}

#lbDate {
	-fx-font: 7pt "Helvetica";
	-fx-text-fill: rgb(107, 41, 173);
}

#vbMessage {
	-fx-padding: 10pt;
}

#printDate {
	-fx-font: bold 9pt "Helvetica";
	-fx-text-fill: rgb(124, 0, 155);
}

#userLogged {
	-fx-font: 7pt "Helvetica";
	-fx-text-fill: black;
}


