
.root {
    -fx-background: rgb(255, 229, 229);
    -fx-border-color: rgb(68, 0, 0);
    -fx-border-width: 2pt;
}

.button {
	-fx-font-weight: bold;
	-fx-text-fill: rgb(234, 190, 190);
	-fx-background-color: rgb(68, 0, 0);
	-fx-border-color: rgb(68, 0, 0);
}

.button:hover {
	-fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: rgb(33, 1, 1);
    -fx-cursor: hand;
}

.label {
	-fx-font-weight: bold;
	-fx-text-fill: rgb(68, 0, 0);
}

.text-field {
	-fx-text-fill: rgb(68, 0, 0);
	-fx-prompt-text-fill: rgb(178, 51, 51);
	-fx-background-color: rgb(252, 196, 196);
	-fx-border-color: rgb(68, 0, 0);
}

.check-box .box {
    -fx-background-color: rgb(255, 181, 181);
    -fx-border-color: rgb(68, 0, 0);
    -fx-pref-height: 15pt;
    -fx-pref-width: 15pt;
}
.check-box:selected .mark {
    -fx-background-color: white;
}
.check-box:selected .box {
    -fx-background-color: rgb(68, 0, 0);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: rgb(191, 5, 5);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.list-cell {
    -fx-font-weight: bold;
	-fx-text-fill: rgb(68, 0, 0);
}
.list-cell:odd {
    -fx-cell-hover-color: rgb(255, 181, 181);
    -fx-background-color: rgb(252, 209, 209);
}
.list-cell:even { 
    -fx-cell-hover-color: rgb(252, 209, 209);
    -fx-background-color: rgb(255, 181, 181);
}
.list-cell:filled:hover {
    -fx-cell-hover-color: rgb(252, 209, 209);
    -fx-text-fill: black;
}

/* button back in register-window and chat-window */
#btnBack {
    -fx-padding: 2pt;
    -fx-pref-width: 50pt;
    -fx-text-fill: rgb(68, 0, 0);
	-fx-background-color: rgb(247, 145, 145);
}
#btnBack:hover {
	-fx-background-color: rgb(255, 96, 96);
}


/* REGISTER WINDOW */

#lbRegisterTitle {
    -fx-font: 16pt "Tahoma";
    -fx-padding: 6pt;
}

#createUserButton {
    -fx-pref-width: 85pt;
}


/* LOGIN WINDOW */

#lbLoginTitle {
	-fx-font: bold 14pt "Tahoma";
    -fx-padding: 6pt;
}

#registerButton {
    -fx-pref-width: 68pt;
}

#loginButton {
    -fx-pref-width: 55pt;
}

#lbAuthors {
	-fx-font: bold 7pt "Verdana";
	-fx-text-fill: rgb(12, 34, 71);
    -fx-padding: 2pt;
    -fx-text-alignment: center;
    -fx-padding: 15pt;
}


/* CHAT WINDOW */

#lbsChat {
	-fx-font: bold 10pt "Verdana";
    -fx-padding: 2pt;
}


/* FUNCTIONS CHAT WINDOW */

#lbUser {
	-fx-font: bold 10pt "Helvetica";
	-fx-text-fill: blue;
}

#lbMessage {
	-fx-font: bold 10pt "Helvetica";
	-fx-text-fill: black;
	-fx-wrap-text: true;
}

#lbDate {
	-fx-font: 7pt "Helvetica";
	-fx-text-fill: rgb(107, 41, 173);
}

#vbMessage {
	-fx-padding: 10pt;
}

#printDate {
	-fx-font: bold 9pt "Helvetica";
	-fx-text-fill: rgb(124, 0, 155);
}

#userLogged {
	-fx-font: 9pt "Helvetica";
	-fx-text-fill: black;
}


